.footer {
    background-color: $color-dark;
    color: $color-white;
    padding: 20px;

    &__link {
        color: $color-white;
        display: block;
        padding: 5px 0;

        &--bold {
            font-weight: bold;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__icon {
        width: 30px;
    }
}