.restaurant {
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -12px black;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    @media (min-width: 768px) {
        width: 49%;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 180px;
    }

    &__info {
        padding: 15px;
        display: flex;

        h3 {
            margin: 0 0 5px;
        }
        p {
            margin: 0;
        }
    }

    &__badge {
        position: absolute;
        top: 15px;
        right: 15px;
        display: inline-flex;
        padding: 8px 12px;
        background: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-weight: bold;
        font-size: 14px;
    }

    &__heart {
        margin-left: auto;
        position: relative;
        font-size: 22px;
        cursor: pointer;

        .far {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 1;
            transition: all 250ms ease-in;
        }
        .fas {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transition: all 250ms ease-in;
            color: transparent;
            background: linear-gradient(160deg, $color-secondary 0%, $color-primary 100%);
            background-clip: text;
            -webkit-background-clip: text;
        }

        &:hover {
            .far {
                opacity: 0;
            }
            .fas {
                opacity: 1;
            }
        }

    }
}