.steps {

    &__list {
        padding: 0;
        padding-left: 10px;

        @media (min-width: 992px) {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 30%);
            column-gap: 5%;
        }
    }
    
    &__number {
        counter-increment: step;
        list-style: none;
        border-radius: 20px;
        padding: 25px 0;
        margin: 25px 0;
        padding-left: 30px;
        background-color: $color-light_gray;
        box-shadow: 0px 5px 15px -12px black;
        position: relative;
        display: flex;
        flex-direction: row;

        @media (min-width: 992px) {
            padding: 100px 0 50px 0;

            p {
                position: relative;
                left: 40%;
                transform: translateX(-50%);
            }
        }

        &::before {
            content: counter(step);
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $color-primary;
            font-size: 14px;
            border-radius: 50%;
            padding: 8px;
            width: 10px;
            height: 10px;
            left: -10px;
            color: $color-white;

            @media (min-width: 992px) {
                left: 50%;
                transform: translateX(-50%);
                bottom: 163px;
            }
        }

        i {
            padding-left: 10px;
            padding-right: 40px;
            width: 30px;
            color: $color-dark;
            text-align: center;

            @media (min-width: 992px) {
                position: relative;
                padding: 0;
                font-size: 30px;
                left: 50%;
                bottom: 50px;
                transform: translateX(-50%);
            }
        }

        &--purple {
            background-color: rgba($color-primary, 0.1);

            i {
                color: $color-primary;
            }
        }
    }
}